<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Relieving Request Process</h2>
        <div class="oe_span12">
            <p class='oe_mt32'>
Relieving Request Process aims to provide a Relieving Process for the employee.
<br/>
<!--<div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="icon.png">
        </div>-->
<br/>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
    <h2 class="oe_slogan">Relieving Request Process</h2>
    <h3 class="oe_slogan">Relieving Request will be created by HR Manager.</h3>
        <div class="oe_span12">
            <p class='oe_mt32'>
HR Manager will create a Relieving Request for the employee who belongs to their company.
Relieving Type can be Resignation, Termination, BGV Fails, Absconding.
<div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="relieving_request1.png">
        </div>
<br/>
Based on the Relieving Type tab will be added with the specified fields.
After conforming the request the state of the record will change to In Progress.
Send Clearance Form and Reject buttons will be available.
<div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="relieving_request2.png">
  </div>
<br/>
After sending clearance form done button will be available along with Reject and some other fields will populated like Admin,Finance, IT Clearances etc.<br/>

<div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="relieving_request3.png">
  </div>
<br/>
After updating all the checkboxes and clicking on Done button the state of the record will move to Completed and all the fields will become readonly.
<div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="relieving_request4.png">
  </div>

<br/>
If the request is rejected then the state of the record will move to Rejected.
<br/>
<div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="relieving_request5.png">
  </div>
<br/>
For Every State change Email will be triggered to respective users.
            </p>

        </div>
        
   </div>
   </div>
</section>



<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
    <h2 class="oe_slogan">Any Questions ?</h2>
    <h3 class="oe_slogan">Please contact us if you have any remarks, questions or feature requests.</h3>
    <h3 class="oe_slogan">opensource@ktree.com</h3>
</section>
