@media print {

    .openerp  button {
        display:none !important;
    }

    #zoom{
        display:none !important;
    }

    .openerp  #type_of_dept {
        display:none !important;
    }

    .oe_leftbar {
         display:none !important;
    }
    .oe_application{
        display:block !important;
    }

    .oe_client_action{
      overflow: hidden !important
    }

    [href="mailto:undefined?Subject=Hello%20again"]{
        display:none !important;
    }

    [href="mailto:?Subject=Hello%20again"]{
        display:none !important;
    }

    [name="titleBackground"]{
        -webkit-print-color-adjust:exact !important;
        color: white !important;
      
    }

    /*Zoom0*/
    .zoom0{
	  background: #eeeeee !important;
    }

    /*Zoom1*/
    .zoom1{
	  background: #eeeeee !important;
    }

    /* Zoom2*/
    [style="top: 2px; width: 140px; height: 20px; background: red;"]{
         background: red !important;
    }
    [style="top: 2px; width: 140px; height: 20px; background: green;"]{
         background: green !important;
    }

    /* Zoom3 & 4*/
    [style="top: 2px; left: 2px; width: 216px; height: 20px; background: green;"]{
        background: green !important;
    }
    [style="top: 2px; left: 2px; width: 216px; height: 20px; background: red;"]{
        background: red !important;
    }

    [name='email']{
        color:blue !important;
    }
  
    body{
        -webkit-print-color-adjust: economy | exact!important;
        overflow:visible !important;
    }
    
    .bp-title{
        color : white !important;
    }
}
